.xap-bubble-trigger {
  cursor: default;
  pointer-events: auto; // Allow bubble trigger to always receive mouse events.
}

.xap-bubble-panel {
  padding: 12px;
  overflow: auto;
  will-change: opacity;

  &.xap-bubble-md1 {
    max-width: 320px;
    max-height: 400px;
    background-color: rgb(255 255 255 / 90%);
    border: 1px solid #eee;
    border-radius: 4px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -2px rgb(0 0 0 / 10%);
  }
}
