@use '../../../variables' as var;

.container {
  .config-header {
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var.$config-header-height;
    padding: 0 var.$spacing-3x;
    color: var.$grey-800;
    font-weight: 500;
    font-size: var.$font-size-normal;
    background-color: #e7edf7;

    mat-button-toggle-group {
      height: 16px;
      font-weight: normal;
      font-size: 12px;

      ::ng-deep .mat-button-toggle-label-content {
        padding: 0 6px !important;
        line-height: 16px;
      }

      ::ng-deep .mat-button-toggle:not(.mat-button-toggle-checked) {
        color: var.$grey-400;
      }
    }
  }

  .info-msg {
    padding: 12px;
    color: var.$grey-500;
  }

  .inputs-container {
    padding: 12px;
    font-size: 13px;

    .input-container {
      margin-top: 16px;
    }

    .input-container:first-child {
      margin-top: 0;
    }

    .input-info-row {
      display: flex;
      align-items: center;

      .input-index {
        margin-right: 4px;
      }

      .input-name {
        margin-right: 4px;
      }

      .input-shape-container {
        display: flex;
        align-items: center;
        color: var.$grey-500;
        font-size: 12px;

        .input-shape-number {
          display: flex;
          align-items: center;
        }

        .comma {
          margin-right: 2px;
        }

        .dimension-input {
          display: flex;
          align-items: center;
          width: 22px;
          margin: 0 2px;
          padding: 0 4px;
          font-size: 12px;
          background-color: white;
          border: 1px solid var.$grey-400;
          border-radius: 3px;

          &:focus-visible {
            border-color: var.$grey-600;
            outline: none;
          }
        }
      }

      .input-shape {
        color: var.$grey-500;
        font-size: 12px;
      }
    }

    .input-type-chooser {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 2px;
      padding-left: 15px;
      font-size: 12px;

      .input-type-select {
        width: 100px;
        margin-right: 8px;
      }

      .min-max-label {
        margin: 0 4px;
      }

      .min-max-input,
      .same-value-input {
        width: 42px;
      }

      .same-value-label {
        margin-right: 2px;
      }

      ::ng-deep .mat-button-toggle-label-content {
        line-height: 20px;
      }

      ::ng-deep .mat-form-field-infix {
        padding-top: 8px;
        padding-bottom: 6px;
      }

      ::ng-deep .mat-select-arrow {
        margin-top: 2px;
        margin-right: 0;
      }

      .input-type-controls {
        display: flex;
        align-items: center;
      }
    }

    .results {
      color: var.$red;

      &.ready {
        color: #0a0;
      }
    }

    .open-code-editor-label {
      width: fit-content;
      border-bottom: 1px dotted #555;
      cursor: pointer;
      opacity: 80%;
      margin-top: 6px;

      &:hover {
        opacity: 100%;
      }
    }
  }
}
